.img_profile{

}
.card_profile{
  margin: 100px auto;
  width: 50%;

}

@media all and (max-width: 1000px) {
  .card_profile{
    width: 50%;
  }
}
@media all and (max-width: 800px) {
  .card_profile{
    width: 60%;
  }
}
@media all and (max-width: 600px) {
  .card_profile{
    width: 90%;
  }
}
