.img_profile{
  height: 300px;
}
.card_profile{
  margin: 100px auto;
  display: flex;
}

@media all and (max-width: 1000px) {
  .card_profile{
    flex-direction: column;
    width: 50%;
  }
}
@media all and (max-width: 800px) {
  .card_profile{
    width: 60%;
  }
}
@media all and (max-width: 600px) {
  .card_profile{
    width: 90%;
  }
}
