<h1 class="title" style=""> About me</h1>
<div class="card_profile">
  <mat-card>
      <img mat-card-image class="img_profile" src="assets/img/log_esteban.png" alt="Photo">
    <mat-card-content >
      <mat-card-title>
        <p></p>
      </mat-card-title>
      <mat-card-subtitle>
        <p>Programador Junior DAM Y DAW</p>
      </mat-card-subtitle>
      <p>Soy un Desarrollador FrontEnd y BackEnd con más de 3 años de experiencia, enfocado en el constante crecimiento en el desarrollo de Aplicaciones Web para dispositivos Android e iOS mediante Apache Cordova, HTML, CSS, JavaScript y jQuery. He llevado a cabo la adaptación de estas aplicaciones hacia plataformas de escritorio para Windows, Mac y Linux utilizando el Framework ElectronJS, con el objetivo de potenciar la experiencia de los usuarios. Además, cuento con sólidos conocimientos en tecnologías como Angular, Ionic, Spring Boot, así como en el manejo de librerías como jQuery y React, y en el desarrollo BackEnd con NodeJS y Java.</p>
    </mat-card-content>
  </mat-card>
</div>

