<h1 class="title" style=""> About me</h1>
<div class="card_profile">
  <mat-card>
      <img mat-card-image class="img_profile" src="assets/img/log_esteban.png" alt="Photo">
    <mat-card-content >
      <mat-card-title>
        <p></p>
      </mat-card-title>
      <mat-card-subtitle>
        <p>Programador Junior DAM Y DAW</p>
      </mat-card-subtitle>
      <p>Poseo conocimientos en programación y estoy dispuesto a aprender y aportar todo lo que esté en mi mano.
        Soy una persona proactiva, con capacidad
        de trabajo en equipo y con ganas de crecer profesionalmente. Me considero una persona responsable y comprometida
        con mi trabajo. La palabra que me define es la "constancia" por que no paro hasta conseguir mi objetivo.
        Agradezco de antemano su atención y quedo a su disposición para ampliar cualquier información que necesite.</p>
    </mat-card-content>
  </mat-card>
</div>

