<div class="containerAbout">
  <h1 class="title" style=""> About me</h1>
  <div class="card_profile">
    <mat-card>
      <div class="img_profile">
        <img mat-card-image src="assets/img/log_esteban.png" alt="Photo">
      </div>
      <mat-card-content >
        <mat-card-title>
          <p></p>
        </mat-card-title>
        <mat-card-subtitle>
          <p>Programador Junior DAM Y DAW</p>
        </mat-card-subtitle>
        <p> <strong>{{textInfo1}}</strong>{{textInfo2}}<strong>{{textInfo3}}</strong></p>
      </mat-card-content>
    </mat-card>
  </div>
</div>


