.home_text{
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;

  span {
    font-size: 3rem;
    font-weight: 1000;
    font-family: "Courier New";


  }
}
.screen-xl{
  background-image: url('/assets/img/programar.jpg');
  background-repeat: no-repeat;
  background-size: 100% 100%;
  background-position: center;
}
.screen-m{
  background-image: url('/assets/img/programar.jpg');
  background-repeat: no-repeat;
  background-size: 100% 80%;

}

