@use '@angular/material' as mat;
@import "src/styles";

.section_container_phone{

  display: flex;
  flex-direction: column;

  overflow: hidden;
  .left_div{
   margin-bottom: 20px;
    background-color: mat.get-color-from-palette($L300);
    .mat-card-content{
      display: flex;
      flex-direction: column;
      .mat-button{
        color: white;
        font-size: 20px;
        border-radius: 0;
        border-bottom: solid 2px;
      }
    }
  }
  .righ_div{
    background-color: mat.get-color-from-palette($L300);
  }

}
 .section_container{
  display: flex;
  height: 99%;
  margin: 0 auto;
  padding: 0;
  overflow: hidden;

  .left_div{
    background-color: mat.get-color-from-palette($L300);
    width: 30%;
    height: 80%;

    .mat-card-content{
      display: flex;
      flex-direction: column;
      justify-content: space-around;
      height: 100%;
      .mat-button{
        padding: 15px;
        color: white;
        border-radius: 0;
        border-bottom: solid 2px;


      }
    }

  }
  .righ_div{
    background-color: mat.get-color-from-palette($L300);
    width: 80%;
    height: 80%;
    .card_template{
      height: 95%;
      .mat-card-title{
        display: flex;
        justify-content: center;
        font-size: 30px;
      }
      .card_content_template{
        align-items: flex-start;
        font-size: 30px;


      }
    }

  }
}



