@use '@angular/material' as mat;

@import "src/styles";

.example-spacer {
  flex: 1 1 auto;
}
.icon-nav{
  color: mat.get-color-from-palette($L300);
}
.mat-toolbar{
  background-color: mat.get-color-from-palette($L800);
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  height: auto;
  //padding: 30px;

  .text{
    white-space: normal;
  }
  //.div_enlaces{
  //  display: flex;
  //  flex-wrap: wrap;
  //  justify-items: center;
  //
  //
  //}
}
.enlace{
  padding: 33px;

}

.enlace-menu{
  margin-top: 10px;
}

//::ng-deep .menu-nav{
//  background-color: mat.get-color-from-palette($L800);
//  a{
//    background-color: mat.get-color-from-palette($L800);
//    color: white;
//    margin: 10px;
//  }
//}
.my-container{
  height: 100%;
  .my-drawer {
    padding: 20%;
    background-color: mat.get-color-from-palette($L300);
    color: white;
  }
  .my-drawer-content {
    position: fixed;
    width: 100%;
    z-index: 10;
    display: flex;
    align-items: center;
    justify-content: center;

  }
}
label{
  font-family: "sans-serif";
  font-size: 25px;
  color: white;
  cursor: pointer;


}

@media all and (max-width: 1050px) {
  .mat-toolbar{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }

}
@media all and (max-width: 800px) {
  .mat-toolbar{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }
  .enlace{
    padding: 22px;
  }

}




