<mat-drawer-container class="my-container">

  <mat-drawer #drawer class="my-drawer" mode="over" position="start">
    <mat-list >
      <mat-list-item *ngFor="let n of scrollGo">
        <a mat-button class="enlace"  (click)="scroll(n.name);drawer.toggle()" > <label>{{n.tab}}</label></a>
      </mat-list-item>

    </mat-list>
  </mat-drawer>
  <mat-drawer-content>
    <div class="my-drawer-content" *ngIf="!service.navBarHidden()">
        <mat-toolbar >
          <a class="enlace" (click)="scroll('home')"  mat-button ><label >Esteban Guerra</label></a>

          <nav *ngIf="!mediaCambio"   >
            <a *ngFor="let n of scrollGo"  mat-button class="enlace"  (click)="scroll(n.name)" > <label class="labelText" >{{n.tab}}</label></a>
          </nav>
<!--          <mat-tab-nav-panel #tabPanel></mat-tab-nav-panel>-->
          <div *ngIf="mediaCambio">
            <a  (click)="drawer.toggle()">
              <mat-icon class="icon-nav enlace-menu">menu</mat-icon>
            </a>
          </div>
        </mat-toolbar>
    </div>
    <mat-divider></mat-divider>
    <router-outlet></router-outlet>

  </mat-drawer-content>

</mat-drawer-container>

<!--<nav mat-tab-nav-bar [backgroundColor]="'primary'" [tabPanel]="tabPanel2">-->
<!--  <a mat-tab-link *ngFor="let link of ['primary','secondary','tertiary']"-->
<!--     (click)="activeLink = link"-->
<!--     [active]="activeLink == link"> {{link}} </a>-->
<!--  <a mat-tab-link disabled>Disabled Link</a>-->
<!--</nav>-->
<!--<mat-tab-nav-panel #tabPanel2></mat-tab-nav-panel>-->

