<h1 class="title"> My proyects</h1>
<mat-grid-list  [cols]="cols" rowHeight="350">
  <mat-grid-tile>
    <mat-card>
        <img mat-card-image  class="imgCard" src="assets/img/angular.jpeg"   alt="" >
      <mat-card-title>Angular</mat-card-title>
      <mat-card-content><ion-button routerLink="/angularAppUsers">Go to Project</ion-button></mat-card-content>
  </mat-card>
  </mat-grid-tile>
  <mat-grid-tile>
    <mat-card >
      <img mat-card-image class="imgCard"   src="assets/img/express_nodeJs.jpg"  alt="">
      <mat-card-title>NodeJS</mat-card-title>
      <mat-card-content><ion-button>Go to Project</ion-button></mat-card-content>
    </mat-card>
  </mat-grid-tile>
  <mat-grid-tile>
    <mat-card >
      <img mat-card-image class="imgCard"   src="assets/img/MongoDB-Logo.jpg"  alt="">
      <mat-card-title>Angular</mat-card-title>
      <mat-card-content><ion-button>Go to Project</ion-button></mat-card-content>
    </mat-card>
  </mat-grid-tile>
  <mat-grid-tile>
    <mat-card  >
      <img mat-card-image class="imgCard"   src="assets/img/framework-og-img.png"  alt="">
      <mat-card-title>Ionic</mat-card-title>
      <mat-card-content><ion-button routerLink="/ionicApp">Go to Project</ion-button></mat-card-content>
    </mat-card>
  </mat-grid-tile>
</mat-grid-list>

