<header>
  <mat-toolbar >
      <a routerLink="home" (click)="goToTop()" mat-button ><label>Esteban</label></a>
<!--      <div *ngIf="mediaCambio=== false" class="div_enlaces">-->
<!--        <a class="enlace" mat -raised-button (click)="scroll('aboutMe')" > About me</a>-->
<!--        <a class="enlace" mat-raised-button routerLink="cv"> My CV</a>-->
<!--        <a class="enlace" mat-raised-button>login</a>-->
<!--        <a class="enlace" mat-raised-button>signup</a>-->
<!--      </div>-->

    <mat-tab-nav-panel #tabPanel></mat-tab-nav-panel>
    <nav *ngIf="!mediaCambio"  mat-tab-nav-bar [tabPanel]="tabPanel">
      <a class="enlace"  mat-tab-link [active]="activeLink == 'proyects'" (click)="scroll('proyects')" > My Proyects</a>
      <a class="enlace"  mat-tab-link [active]="activeLink == 'aboutMe'"  (click)="scroll('aboutMe')" > About me</a>
      <a class="enlace"  mat-tab-link [active]="activeLink == 'aboutMe'"(click)="scroll('curriculum')" >My CV</a>
      <a class="enlace"  mat-tab-link [active]="activeLink == 'contactMe'" (click)="scroll('contactMe')" > Contact me</a>

    </nav>
      <div *ngIf="mediaCambio">

        <a><mat-icon class="icon-nav enlace-menu">menu</mat-icon></a>
<!--        <a  [matMenuTriggerFor]="menu"><mat-icon class="icon-nav enlace-menu">menu</mat-icon></a>-->
      </div>

  </mat-toolbar>

<!--<mat-menu class="menu-nav" #menu="matMenu">-->
<!--  <a mat-menu-item  (click)="scroll('proyects')"> My Proyects</a>-->
<!--    <a mat-menu-item  (click)="scroll('aboutMe')" > About me</a>-->
<!--  <a mat-menu-item (click)="scroll('curriculum')"> My CV</a>-->
<!--   <a mat-menu-item  (click)="scroll('contactMe')">Contact me</a>-->

<!--</mat-menu>-->
</header>

